*{
    margin: 0;
}
header{
    height: 100vh;
    position: relative;
    padding-left: 6.8rem;
    padding-top: 16.8rem;
    overflow: hidden;
    
}
/*pseudo elemento*/
header::before{
    content: '';
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1965&q=80);
    height: 100%;
    width: 100%;
    display: block;
    position:absolute;
    left: 0;
    z-index: -1;
    top: 0;
}
    

h1 {  
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 4rem;
    font-weight: 700;
    font-family: 'Montserrat';
}

span {
    color: #ffffff;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 2rem;
    
}
.botao{
    background-color: #4DFF5E;
    color:black ;
    font-family: 'Poppins';
    padding: .25rem 1rem;
    text-decoration: none;
    border-radius: 4px;
    }